h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    color: black;
    font-style: italic;
}

img {
    align-items: center;
    width: 175px;
    height: 175px;
    border: 5px solid;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
}


/* .about-me-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 35%;
} */

a{
    display: block;
    font-weight: 200;
    color: blue;
    border-top: 10px;
    border-bottom: 10px;
    border-left: 10px;
    text-align: center;
    padding: 15px;
    list-style-type: none;
    align-items: center;
    overflow: hidden;
}

p{
    font-weight: 120;
    font-size: large;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}