h1{
    text-align: center;
    font-weight: 150;
    color: black;
}

img {
    align-items: center;
    max-width: 320px;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
}


.about-me-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 35%;
}

a{
    display: block;
    font-weight: 200;
    color: blue;
    border-top: 10px;
    border-bottom: 10px;
    border-left: 10px;
    text-align: center;
    padding: 15px;
    list-style-type: none;
    align-items: center;
    overflow: hidden;
}

p{
    font-weight: 150;
    color: black;
}