p {
    font-family: 'Times New Roman', Times, serif;
}

a {
    align-items: left;
    text-align: center;
    font-size: large;
    text-decoration: none;
    
}

.contact {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: red;
  background: beige;
}

h1{
  display: block;
  text-align: center;
  font-size: large;
}

h3{
  display: block;
  text-align: center;
  font-size: medium;
}