p {
    font-family: 'Times New Roman', Times, serif;
}

a {
    align-items: left;
}

.contact {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: red;
  background: beige;
  text-align: center;
}