p {
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    float: none;
    text-align: left;
    text-indent: 5%;
}

Accordion{
    font-weight: 200;
}

img {
    align-items: center;
    max-width: 320px;
    height: auto;
}