p {
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    float: none;
    text-align: left;
    text-indent: 5%;
}

Accordion{
    font-weight: 200;
}


.center-image{
   display:flex;
   justify-content:center; /* horizontally center */
   align-items:center;    /* vertically center */
   height:300px;
   width:300px;
   position: relative;
}