img {
    align-items: left;
}
 .buccaneer-center{
    height: 40%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }


.cis-center{
    height: 40%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.react-center{
    height: 80%;
    width: 30%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.pi-center{
    height: 80%;
    width: 30%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.duck-center{
    height: 80%;
    width: 30%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

h3{
    align-items: center;
    text-align: center;
    font-size: medium;
}