.navbar{
    width: 100%;
    height: 50px;
    background: rgb(227, 124, 124);
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.05px;
}

.links-container {
    display:flex;
    margin-right: 30px;
    width:300px;
    justify-content: space-between;
}


.link a{ 
    text-decoration: none;
    color: greenyellow;
}